{{!-- <h1>Hello world</h1> --}}

{{!-- <div class="card">
  <h5 class="card-header">Assignment completed</h5>
  <div class="card-body">
    <h5 class="card-title">Fourth JS Developer Exercise</h5>
    <p class="card-text">Please add Allow-Control-Allow-Origin plugin to your Chrome browser before testing</p>
    <a href="/employees" class="btn btn-primary">View Employees Table</a>
  </div>
</div> --}}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/employees">Employees</a>
  </li>
</ul>

{{outlet}}